<h1>Form Examples</h1>
<mat-toolbar color="primary">
    <a routerLink="team">Sorting Reactive Forms</a>
    <a routerLink="customer">Customer Form Example</a>
    <a routerLink="reactive">Reactive Form Example</a>
    <a routerLink="template">Template Form Example</a>
</mat-toolbar>

<router-outlet></router-outlet>

<!-- how to use reactive forms to do sorting on formarrrays -->
<!-- <team [team]='team'></team> -->


<!-- Uncomment one to see the other one -->

<!-- An example of complex form -->

<!-- <app-customer></app-customer> -->